# Terraform
**/.terraform/
**/.files/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Archives
**/*.zip
**/*.tar.gz

# IDE and OS
**/.DS_Store
.vscode
.idea
